@import url('https://fonts.googleapis.com/css2?family=Oregano&family=Roboto:wght@100;300;500;700;900&display=swap');

:root {
    --primary: #8b85ff;
    --primary-complement: #00B4E1;
    --secondary: #EEEEEE;
    --secondary-complement: #051329;
    --accent-1: #F8D319;
    --accent-2: #F10E47;
    --accent-2-hover: hsl(345, 85%,50%);
    --accent-1-hover: #aa9114;
    --accent-1-hover-hsl: 50, 79%, 37%;
    --accent-2-hover-hsl: 336, 91%, 37%;
    --primary-hsl: 243, 100%, 76%;
    --primary-complement-hsl: 192, 100%, 44%;
    --secondary-hsl: 0, 0%, 93%;
    --secondary-complement-hsl: 217, 78%, 9%;
    --accent-1-hsl: 50, 94%, 54%;
    --accent-2-hsl: 336, 94%, 5s0%;
    --elpololito-font: 'Oregano';
    --webfont: 'Roboto';
    --shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    --shadow-card: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --shadow-text: rgba(0, 0, 0, 0.24) 1px 1px 5px;
    --divider: hsla(0,40%,50%,0.3);
    --linear-gradient: linear-gradient(to right bottom, #6761e1, #6761e1, #6761e1, #6761e1, #6761e1, #5173ee, #3584f8, #0093ff, #00b2ff, #00cdff, #00e5fd, #5ffbf1);
    --linear-gradient-home: linear-gradient(to right top, #eeeeee, #eeedf0, #efedf1, #f0ecf3, #f1ebf4, #f0ecf6, #efecf8, #ededfa, #e8f0fb, #e5f2fa, #e4f4f7, #e6f5f4);
    /* Variables por borrar */
    --primary-color: #e54b4b;
    --primary-color-hsl: 0, 75%, 60%;
    --primary-color-hover: #c53636;
    --foreground-color: #444140;
    --accent-color-1: #ebcbbf;
    --accent-color-2: #f7ebe8;
    --accent-color-3: #2460a0;
    --accent-color-3-hover: #2d7dd2;
}
body {
    font-family: var(--webfont);
    font-weight: 500;
}

.header-wrapper {
    padding-top: 16px;
    background-image: var(--linear-gradient-home);
}

/* NAVBAR */

.navbar-brand {
    font-family: var(--elpololito-font);
    font-size: 2.4rem;
    position: relative;
    color: var(--primary) !important;
}

.navbar-brand:hover {
    color: var(--primary);
}

.navbar-nav-center{
    margin: 0 auto;
}

.nav-item-list {
    margin: 0 14px;
    font-size: 1.2rem;
}

.nav-link {
    color: var(--primary) !important;
}

.nav-link:hover {
    color: var(--primary) !important;
}

.nav-link:active {
    color: var(--primary) !important;
}

.nav-link-login {
    color: var(--accent-1) !important;
    line-height: 1.8rem;
}

.nav-link-login:hover {
    color: var(--accent-1) !important;
}

.nav-link-btn {
    background-color: var(--accent-2);
    border-radius: 3px;
    padding: 0.5em 1.3em !important;
    color: var(--accent-color-2) !important;
    line-height: 1.8rem;
    border: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.title-flag{
    width: 20px;
    position: absolute;
    right: -17px;
    top: 15px;
}

/* HEADER CONTENT */

.header-wrapper-content {
    padding-top: 90px;
    margin-bottom: 40px;
}

.header-content {
    padding: 40px 0 20px 0;
}

.header-content-text {
    color: var(--primary);
}

.header-text-hook {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.header-text-title{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 30px;
}

.header-text-paragraph {
    font-size: 1rem;
    font-weight: 300;
    color: var(--primary);
    text-shadow: var(--shadow-text);
}

.header-content-img {
    position: relative;
    min-height: 480px;
}

.content-img-1 {
    z-index: 1;
    left: 80px;
    top: 60px;
}

.content-img-2 {
    right: 110px;
}

.img-position {
    position: absolute;
    width: 300px;
    border-radius: 5px;
    box-shadow: var(--shadow)
}

.header-btn {
    background-color: var(--accent-2);
    border: none;
    border-radius: 3px;
    color: var(--accent-color-2);
    padding: 0.5em 1.3em;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}


/* MODAL  */
.nav-pills {
    justify-content: center;
}

.tab-pane {
    padding-top: 20px;
}

.hide {
    display:none;
}

.input-form-calendar {
    position: absolute;
}

.react-datepicker{
 border: 0;
 box-shadow: var(--shadow);
}

.react-datepicker__triangle{
    display: none;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next
{
    top: 8px;
}

#carousel-trabajadores {
	width:42rem;
	height:31rem;
	margin: auto;
  }
/* carta horizontal */
.HCardo {
border: 2px solid;
border-style: groove;
border-radius: 16px;
padding: 10px;
margin: 5px;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}
.grid-card{
    margin: 0px 10px;
    box-shadow: var(--shadow-card);
    min-height: 300px;
    max-height: 300px;
}


.login-wrapper {
    height: 100vh;
    background-color: var(--accent-color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-box {
    width: 450px;
    height: 320px;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 2rem 1.8rem;
    position: relative;
}

.login-title {
    font-family: var(--elpololito-font);
    color: var(--primary-color);
    font-size: 4rem;
    position: absolute;
    top: -100px;
    left: 110px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-label-white {
    color: var(--accent-color-2) !important;
}

.login-btn {
    background-color: var(--accent-color-2);
    border-radius: 3px;
    padding: 0.5em 1.3em !important;
    color: var(--primary-color) !important;
    line-height: 1.8rem;
    border: none;
    margin: 0 auto;
    width: 150px;
    align-self: center;
    margin-top: 1rem;
}

.login-btn:hover {
    background-color: var(--accent-color-2);
}

.login-btn:disabled {
    background-color: var(--accent-color-2);
}

.btn3d {
	position: relative;
	top: -6px;
	border: 0;
	transition: all 40ms linear;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2px;
	margin-right: 2px;
}

.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
    outline-style:auto;
	-moz-outline-style: none;
	outline: medium none;
}

.btn3d:active,
.btn3d.active {
	top: 2px;
}

.btn3d.btn-white {
	color: #666666;
	box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.10) inset, 0 8px 0 0 #f5f5f5, 0 8px 8px 1px rgba(0, 0, 0, .2);
	background-color: #fff;
}

.btn3d.btn-white:active,
.btn3d.btn-white.active {
	color: #666666;
	box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, .1);
	background-color: #fff;
}

.btn3d.btn-default {
	color: #666666;
	box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.10) inset, 0 8px 0 0 #BEBEBE, 0 8px 8px 1px rgba(0, 0, 0, .2);
	background-color: #f9f9f9;
}

.btn3d.btn-default:active,
.btn3d.btn-default.active {
	color: #666666;
	box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, .1);
	background-color: #f9f9f9;
}

.btn3d.btn-primary {
	box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #4D5BBE, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #4274D7;
}

.btn3d.btn-primary:active,
.btn3d.btn-primary.active {
	box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #4274D7;
}

.btn3d.btn-success {
	box-shadow: 0 0 0 1px #31c300 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #5eb924, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #78d739;
}

.btn3d.btn-success:active,
.btn3d.btn-success.active {
	box-shadow: 0 0 0 1px #30cd00 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #78d739;
}

.btn3d.btn-info {
	box-shadow: 0 0 0 1px #00a5c3 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #348FD2, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #39B3D7;
}

.btn3d.btn-info:active,
.btn3d.btn-info.active {
	box-shadow: 0 0 0 1px #00a5c3 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #39B3D7;
}

.btn3d.btn-warning {
	box-shadow: 0 0 0 1px #d79a47 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #D79A34, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #FEAF20;
}

.btn3d.btn-warning:active,
.btn3d.btn-warning.active {
	box-shadow: 0 0 0 1px #d79a47 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #FEAF20;
}

.btn3d.btn-danger {
	box-shadow: 0 0 0 1px #b93802 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #AA0000, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #D73814;
}

.btn3d.btn-danger:active,
.btn3d.btn-danger.active {
	box-shadow: 0 0 0 1px #b93802 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #D73814;
}

.btn3d.btn-magick {
	color: #fff;
	box-shadow: 0 0 0 1px #9a00cd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #9823d5, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #bb39d7;
}

.btn3d.btn-magick:active,
.btn3d.btn-magick.active {
	box-shadow: 0 0 0 1px #9a00cd inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #bb39d7;
}

.forgotPassword-wrapper {
    height: 100vh;
    background-color: var(--accent-color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forgotPassword-box {
    background-color: var(--primary-color);
    border-radius: 5px;
    box-shadow: var(--shadow);
    padding: 3rem;
    min-width: 340px;
    width: 500px;
    position: relative;
}

.search-wrapper {
    padding: 4rem 0;
}

.search-input {
    max-width: 430px;
}

.userPanel-wrapper {
    padding: 80px 0 35px 0;
}

.carousel-card {
    box-shadow: var(--shadow-card);
}

.workers-wrapper {
    padding: 45px 0 60px 0;
}

.footer-wrapper {
    padding: 60px 0 0 0;
    background-color: var(--bs-dark);
    color: var(--bs-light);
}

.rrss-box {
    padding: 10px 0;
}

.rrss{
    background-color: var(--bs-gray);
    color: var(--bs-light);
    border-radius: 50%;
    padding: 7px 9px;
    margin-right: 5px;
}

.rrss:hover {
    color: var(--bs-light);
}

.divider {
    border-top: 1px solid var(--divider);
    margin: 20px 0 0 0;
}

.copy {
    padding: 20px 0;
}

.link-list {
    list-style-type: none;
    padding: 0;
}

.link-item {
    margin-bottom: 1rem;
}

.box-container {
    background-image: var(--linear-gradient);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: var(--secondary);
    color: var(--secondary-complement);
    min-width: 320px;
    width: 840px;
    border-radius: 5px;
    padding: 2rem 7rem;
    font-weight: 300;
    box-shadow: var(--shadow);
}

.box-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 900;
}

.inputCustom {
    color: var(--secondary-complement);
    border-color: var(--secondary);
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.inputCustom::placeholder {
    color: hsla(var(--secondary-complement-hsl),.5);
    font-weight: 400;
}

.inputCustom:focus {
    border: 1px solid var(--primary);
    box-shadow: none;
}

.inputCustom[type="password"] {
    letter-spacing: 5px;
    font-weight: 900;
    font-size: 20px;
    line-height: 1;
}

.box-btn {
    background-color: var(--accent-2);
    padding: 0.5em 1.3em !important;
    color: var(--secondary);
    width: 150px;
    line-height: 1.8rem;
    border: none;
    transition: all 0.3s ease 0s;
    outline: none;

}

.box-btn:hover {
    background-color: var(--accent-2-hover);
    transform: translateY(-1px);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.box-btn:focus {
    box-shadow: none !important;
}

.span-require {
    color: var(--accent-2);
}

.dropdown-divider {
    border-color: var(--secondary-complement);
}

.box-login {
    width: 600px;
    padding: 2rem 3rem;
}