@import url('https://fonts.googleapis.com/css2?family=Oregano&family=Roboto:wght@100;300;500;700;900&display=swap');

:root {
    --primary-color: #e54b4b;
    --primary-color-hover: #c53636;
    --foreground-color: #444140;
    --accent-color-1: #ebcbbf;
    --accent-color-2: #f7ebe8;
    --accent-color-3: #2460a0;
    --accent-color-3-hover: #2d7dd2;
    --elpololito-font: 'Oregano';
    --webfont: 'Roboto';
}

body {
    font-family: var(--webfont);
    font-weight: 500;
}

.header-wrapper {
    padding-top: 16px;
    background-color: var(--accent-color-1);
}

/* NAVBAR */

.navbar-brand {
    font-family: var(--elpololito-font);
    font-size: 2.4rem;
    position: relative;
    color: var(--primary-color);
}

.navbar-brand:hover {
    color: var(--primary-color-hover);
}

.navbar-nav-center{
    margin: 0 auto;
}

.nav-item-list {
    margin: 0 14px;
    font-size: 1.2rem;
}

.nav-link {
    color: var(--foreground-color);
}

.nav-link:hover {
    color: var(--primary-color-hover);
}

.nav-link:active {
    color: var(--primary-color-hover);
}

.nav-link-login {
    color: var(--accent-color-3) !important;
    line-height: 1.8rem;
}

.nav-link-login:hover {
    color: var(--accent-color-3-hover) !important;
}

.nav-link-btn {
    background-color: var(--primary-color-hover);
    border-radius: 3px;
    padding: 0.5em 1.3em !important;
    color: var(--accent-color-2) !important;
    line-height: 1.8rem;
}

.nav-link-btn:hover {
    color: var(--accent-color-2);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.title-flag{
    width: 20px;
    position: absolute;
    right: -17px;
    top: 15px;
}

/* HEADER CONTENT */

.header-wrapper-content {
    padding-top: 90px;
    margin-bottom: 40px;
}

.header-content {
    padding: 40px 0 20px 0;
}

.header-content-text {
    color: var(--primary-color-hover);
}

.header-text-hook {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.header-text-title{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 30px;
}

.header-text-paragraph {
    font-size: 1rem;
    font-weight: 300;
    color: #7a7a7a;
}

.header-content-img {
    position: relative;
    min-height: 480px;
}

.content-img-1 {
    z-index: 1;
    left: 80px;
    top: 60px;
}

.content-img-2 {
    right: 110px;
}

.img-position {
    position: absolute;
    width: 300px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header-btn {
    background-color: var(--primary-color-hover);
    border: none;
    border-radius: 3px;
    color: var(--accent-color-2);
    padding: 0.5em 1.3em;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}


/* MODAL  */
.nav-pills {
    justify-content: center;
}

.tab-pane {
    padding-top: 20px;
}

.hide {
    display:none;
}

.input-form-calendar {
    position: absolute;
}

.react-datepicker{
 border: 0;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

.react-datepicker__triangle{
    display: none;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next
{
    top: 8px;
}

#carousel-trabajadores {
	width:42rem;
	height:31rem;
	margin: auto;
  }
/* carta horizontal */
.HCardo {
border: 2px solid;
border-style: groove;
border-radius: 16px;
padding: 10px;

}